
@import url(text.css);

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-contenedor{
  margin: 0px auto;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  transition: all 0.3s ease;
}
.header-menu a {
   width: 120px;
  text-decoration: none;
  color: var(--text-t-e);
  font-size: 18px;
  margin: 20px;
  transition: color 0.3s ease;
  font-family: var(--texto-detalles);
  letter-spacing: 1px;
}

.header-unimer{
  width: 200px;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  border: solid 1px var(--text-t-e);
}